/*! Minified and unminified versions of this file are located in the same directory. Access unminified version by replacing the .min.css extension with .css*/
/* General styles **/

[class*="i-agsdix-mcip-"] svg {
    min-width: 1em;
    min-height: 1em;
}

/* default font font-size */
.et-pb-icon.wadip-multicolor-icon, .et_pb_blurb.wadip-multicolor-icon {
    font-size: 96px;
}

[class*="i-agsdix-mcip-"]:before, [class*="i-agsdix-mcip-"]:after {
    content: none !important;
}

.wadip-tertiary-color {
    fill: #dde4eb;
}