@font-face {
  font-family : "wadi-admin";
  src         : url("../icon-packs/admin/wadi-admin.eot");
  src         : url("../icon-packs/admin/wadi-admin.svg") format("svg");
  src         : url("../icon-packs/admin/wadi-admin.ttf") format("truetype");
  src         : url("../icon-packs/admin/wadi-admin.woff") format("woff");
  }